/* Blog Page Hero */
.hero {
    padding: 170px 20px;
    background-color: var(--isabelline);
    text-align: center;
    position: relative;
}

.hero .hero-text {
    font-size: clamp(1.4rem, 3vw, var(--fs-4)); /* Responsive font size */
    margin-top: 10px;
    line-height: 1.6;
}

.hero .hero-bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, rgba(240, 240, 240, 0.5), rgba(255, 255, 255, 0.5));
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.blog {
    background-color: white;
    padding: 30px 20px 100px 20px;
}
/* Blog Filters Section */
.blog-filters-section {
    padding: 30px 20px;
}

.blog-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.blog-filters .input-field {
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius-5);
    font-size: var(--fs-5);
}

.blog-filters .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: var(--fs-5);
    background-color: var(--kappel);
    color: var(--white);
    border-radius: var(--radius-5);
}
